{% extends "shop/base.html" %}
{% load static %}
<title> {% block title %} Free Book {% endblock title %}</title>
{% block main-contact %}
   
<div class="container-fluid">
    <div class="row">
        <div class="row mt-4 books">
			<div class="col-lg-3 col-md-6 col-sm-12 mt-3">
				<div class="card shadow m-auto" style="width: 17rem;">
					<a href="{% url 'Product_details' %}"> <img class="card-img"  src="{% static 'images/book/book-one.jpg' %}"  alt=<i class="fa-sharp fa-solid fa-image-slash"></i></a>
					
					<div class="card-body">
					  <h5  class="card-title">Bangla-I </h5>
					  <p class="card-text Sub-code">বিষয় কোড : 61234</p>
					  <p class="writer-name">Touhid hossen</p>
					  <p class="regulation">প্রবিধান : 2022</p>
					  <a href="#" class="btn cart-btn">কার্ডে জমা করুন</a>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 col-sm-12 mt-3">
				<div class="card shadow m-auto" style="width: 17rem;">
					<img class="card-img" src="{% static 'images/book/book-two.jpg' %}"  alt=<i class="fa-sharp fa-solid fa-image-slash"></i>
					<div class="card-body">
					  <h5 class="card-title">Card title</h5>
					  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					  <a href="#" class="btn cart-btn">কার্ডে জমা করুন</a>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 col-sm-12 mt-3">
				<div class="card shadow m-auto" style="width: 17rem;">
					<img class="card-img" src="{% static 'images/book/book-three.jpg' %}"  alt=<i class="fa-sharp fa-solid fa-image-slash"></i>
					<div class="card-body">
					  <h5 class="card-title">Card title</h5>
					  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					  <a href="#" class="btn cart-btn">কার্ডে জমা করুন</a>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 col-sm-12 mt-3">
				<div class="card shadow m-auto" style="width: 17rem;">
					<img class="card-img" src="{% static 'images/book/book-fore.jpg' %}"  alt=<i class="fa-sharp fa-solid fa-image-slash"></i>
					<div class="card-body">
					  <h5 class="card-title">Card title</h5>
					  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					  <a href="#" class="btn cart-btn">কার্ডে জমা করুন</a>
					</div>
				</div>
			</div>
		
		
			<div class="col-lg-3 col-md-6 col-sm-12 mt-3">
				<div class="card shadow m-auto" style="width: 17rem;">
					<img class="card-img" src="{% static 'images/book/book-one.jpg' %}"  alt=<i class="fa-sharp fa-solid fa-image-slash"></i>
					<div class="card-body">
					  <h5 class="card-title">Card title</h5>
					  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					  <a href="#" class="btn cart-btn">কার্ডে জমা করুন</a>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 col-sm-12 mt-3">
				<div  class="card shadow m-auto" style="width: 17rem;">
					<img class="card-img" src="{% static 'images/book/book-two.jpg' %}"  alt=<i class="fa-sharp fa-solid fa-image-slash"></i>
					<div class="card-body">
					  <h5 class="card-title">Card title</h5>
					  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					  <a href="#" class="btn cart-btn">কার্ডে জমা করুন</a>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 col-sm-12 mt-3">
				<div class="card shadow m-auto" style="width: 17rem;">
					<img class="card-img" src="{% static 'images/book/book-three.jpg' %}" alt=<i class="fa-sharp fa-solid fa-image-slash"></i>
					<div class="card-body">
					  <h5 class="card-title">Card title</h5>
					  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					  <a href="#" class="btn cart-btn">কার্ডে জমা করুন</a>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 col-sm-12 mt-3">
				<div  class="card shadow m-auto" style="width: 17rem;">
					<img class="card-img" src="{% static 'images/book/book-fore.jpg' %}"  alt=<i class="fa-sharp fa-solid fa-image-slash"></i>
					<div class="card-body">
					  <h5 class="card-title">Card title</h5>
					  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					  <a href="#" class="btn cart-btn">কার্ডে জমা করুন</a>
					</div>
				</div>
			</div>
		</div>
    </div>


</div>
    
  








{% endblock main-contact %}
