{% extends "shop/base.html" %}
{% load static %}
<title> {% block title %}Home {% endblock title %}</title>
{% block main-contact %}

  
	<!-- Carousel -->
	<div id="carouselExampleFade" class="carousel slide carousel-fade">
		<div class="carousel-inner">
		  <div class="carousel-item active">
			<img src="{% static 'images/banner-one.jpg' %}" class="d-block w-100" alt="Don't show image">
		  </div>
		  <div class="carousel-item">
			<img src="{% static 'images/banner-two.jpg' %}" class="d-block w-100" alt="Don't show image">
		  </div>
		  <div class="carousel-item">
			<img src="{% static 'images/banner-three.jpg' %}" class="d-block w-100" alt="Don't show image">
		  </div>
		</div>
		<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
		  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
		  <span class="visually-hidden">Previous</span>
		</button>
		<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
		  <span class="carousel-control-next-icon" aria-hidden="true"></span>
		  <span class="visually-hidden">Next</span>
		</button>
	</div>

	<!-- End Carousel -->

	<div class="container-fluid all-books ">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12">
				<div class="header">
					<h2 class="text-center my-5">আমাদের বই সমূহ<img src="{% static 'images/book.gif' %}" class="gif" alt="Don't show image"></h2>
				</div>
			</div>
		</div>
	
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12">
			   <div class="list d-flex justify-content-center gap-2">
				  <div class="all">
					
					<a  href="{% url 'All_books' %}">
					<button type="button" class="btn all-book-btn "> 
						 সকল বই</button></a>
				  </div>
				  <div class="department">
					<div class="dropdown">
						<button class="btn cart-btn dropdown" type="button" data-bs-toggle="dropdown" aria-expanded="false">
							ডিপার্টমেন্ট
						</button>
						<ul class="dropdown-menu">
						  <li><a class="dropdown-item" href="{% url 'Cmt_all' %}">কম্পিউটার</a></li>
						  <li><a class="dropdown-item" href="#">ইলেকট্রিক্যাল<a></li>
						  <li><a class="dropdown-item" href="#">সিভিল</a></li>
						  <li><a class="dropdown-item" href="#">মেকানিকাল</a></li>
						  <li><a class="dropdown-item" href="#">ইলেকট্রনিক্স</a></li>
						  <li><a class="dropdown-item" href="#">ফুড</a></li>
						  
						</ul>
					  </div>
				  </div>
				  <div class="semester">
					<div class="dropdown">
						<button class="btn cart-btn dropdown" type="button" data-bs-toggle="dropdown" aria-expanded="false">
							সেমিস্টার
						</button>
						<ul class="dropdown-menu">
						  <li><a class="dropdown-item" href="{% url 'Cmt_First_semeter' %}">১ম পর্ব</a></li>
	
						  <li><a class="dropdown-item" href="{% url 'Cmt_Second_semeter' %}">২য় পর্ব</a></li>
	
						  <li><a class="dropdown-item" href="{% url 'Cmt_Third_semeter' %}">৩য় পর্ব</a></li>
	
						  <li><a class="dropdown-item" href="{% url 'Cmt_Fourth_semeter' %}">৪র্থ পর্ব</a></li>
	
						  <li><a class="dropdown-item" href="{% url 'Cmt_Fifth_semeter' %}">৫ম পর্ব</a></li>
	
						  <li><a class="dropdown-item" href="{% url 'Cmt_Sixth_semeter' %}">৬ষ্ঠ পর্ব</a></li>
	
						  <li><a class="dropdown-item" href="{% url 'Cmt_Seventh_semeter' %}">৭ম পর্ব</a></li>
						  
						</ul>
					  </div>
				  </div>
			   </div>
			</div>
		</div>
		 
		<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container-fluid">
				<!-- row -->
				<div class="row ">

					<!-- Products tab & slick -->
					<div class="col-md-12">
						<div class="row mt-4 books">
							<div class="products-tabs">
								<!-- tab -->
								<div id="tab2" class="tab-pane fade in active">
									<div class="products-slick" data-nav="#slick-nav-2">
										<!-- product -->
										<div class="col-lg-2 col-md-6  col-sm-12 mt-3 cardContainer">
											<article>
											<figure class="rounded overflow-hidden mb-3 bsb-overlay-hover">
												<div class="card shadow  text-center" >
													<a href="{% url 'Product_details' %}"> <img class="card-img"  src="{% static 'images/book/book-one.jpg' %}"  alt="{% static 'images/book/Book-Cover.jpg' %}" ></a>
													
													<div class="card-body text-center">
													<h5  class="card-title">Bangla-I </h5>
													<p class="card-text Sub-code">বিষয় কোড : 61234</p>
													<p class="writer-name">Touhid hossen</p>
													<p class="regulation">প্রবিধান : 2022</p>
													<p class="prices">Tk 300</p>
													<a href="#" class="btn cart-btn">কার্ডে জমা করুন</a>
													</div>
												</div>
												<figcaption>
												    
													<h4 class="h6 text-white card-overflow bsb-hover-fadeInRight ">Buy Now</h4>
												</figcaption>
											</figure>
											
										</div>
										<!-- /product -->

										<!-- product -->
										<div class="col-lg-2 col-md-6 col-sm-12 mt-3 cardContainer">
											<article>
											<figure class="rounded overflow-hidden mb-3 bsb-overlay-hover">
												<div class="card shadow  text-center" >
													<a href="{% url 'Product_details' %}"> <img class="card-img"  src="{% static 'images/book/book-two.jpg' %}"  alt="{% static 'images/book/Book-Cover.jpg' %}" ></a>
													
													<div class="card-body text-center">
													<h5  class="card-title">Bangla-I </h5>
													<p class="card-text Sub-code">বিষয় কোড : 61234</p>
													<p class="writer-name">Touhid hossen</p>
													<p class="regulation">প্রবিধান : 2022</p>
													<p class="prices">Tk 300</p>
													<a href="#" class="btn cart-btn">কার্ডে জমা করুন</a>
													</div>
												</div>
												<figcaption>
													
													<h4 class="h6 card-overflow text-white bsb-hover-fadeInRight ">Buy Now</h4>
												</figcaption>
											</figure>
										</div>
										<div class="col-lg-2 col-md-6 col-sm-12 mt-3 cardContainer">
											<article>
												<figure class="rounded overflow-hidden mb-3 bsb-overlay-hover">
													<div class="card shadow  text-center" >
														<a href="{% url 'Product_details' %}"> <img class="card-img"  src="{% static 'images/book/book-two.jpg' %}"  alt="{% static 'images/book/Book-Cover.jpg' %}" ></a>
														
														<div class="card-body text-center">
														<h5  class="card-title">Bangla-I </h5>
														<p class="card-text Sub-code">বিষয় কোড : 61234</p>
														<p class="writer-name">Touhid hossen</p>
														<p class="regulation">প্রবিধান : 2022</p>
														<p class="prices">Tk 300</p>
														<a href="#" class="btn cart-btn">কার্ডে জমা করুন</a>
														</div>
													</div>
													<figcaption>
														
														<h4 class="h6 card-overflow text-white bsb-hover-fadeInRight ">Buy Now</h4>
													</figcaption>
												</figure>
										</div>
										<div class="col-lg-2 col-md-6 col-sm-12 mt-3 cardContainer">
											<article>
												<figure class="rounded overflow-hidden mb-3 bsb-overlay-hover">
													<div class="card shadow  text-center" >
														<a href="{% url 'Product_details' %}"> <img class="card-img"  src="{% static 'images/book/book-two.jpg' %}"  alt="{% static 'images/book/Book-Cover.jpg' %}" ></a>
														
														<div class="card-body text-center">
														<h5  class="card-title">Bangla-I </h5>
														<p class="card-text Sub-code">বিষয় কোড : 61234</p>
														<p class="writer-name">Touhid hossen</p>
														<p class="regulation">প্রবিধান : 2022</p>
														<p class="prices">Tk 300</p>
														<a href="#" class="btn cart-btn">কার্ডে জমা করুন</a>
														</div>
													</div>
													<figcaption>
														
														<h4 class="h6 card-overflow text-white bsb-hover-fadeInRight ">Buy Now</h4>
													</figcaption>
												</figure>
										</div>
										<div class="col-lg-2 col-md-6 col-sm-12 mt-3 cardContainer">
											<article>
												<figure class="rounded overflow-hidden mb-3 bsb-overlay-hover">
													<div class="card shadow  text-center" >
														<a href="{% url 'Product_details' %}"> <img class="card-img"  src="{% static 'images/book/book-two.jpg' %}"  alt="{% static 'images/book/Book-Cover.jpg' %}" ></a>
														
														<div class="card-body text-center">
														<h5  class="card-title">Bangla-I </h5>
														<p class="card-text Sub-code">বিষয় কোড : 61234</p>
														<p class="writer-name">Touhid hossen</p>
														<p class="regulation">প্রবিধান : 2022</p>
														<p class="prices">Tk 300</p>
														<a href="#" class="btn cart-btn">কার্ডে জমা করুন</a>
														</div>
													</div>
													<figcaption>
														
														<h4 class="h6 card-overflow text-white bsb-hover-fadeInRight ">Buy Now</h4>
													</figcaption>
												</figure>
										</div>
										<div class="col-lg-2 col-md-6 col-sm-12 mt-3 cardContainer">
											<article>
												<figure class="rounded overflow-hidden mb-3 bsb-overlay-hover">
													<div class="card shadow  text-center" >
														<a href="{% url 'Product_details' %}"> <img class="card-img"  src="{% static 'images/book/book-two.jpg' %}"  alt="{% static 'images/book/Book-Cover.jpg' %}" ></a>
														
														<div class="card-body text-center">
														<h5  class="card-title">Bangla-I </h5>
														<p class="card-text Sub-code">বিষয় কোড : 61234</p>
														<p class="writer-name">Touhid hossen</p>
														<p class="regulation">প্রবিধান : 2022</p>
														<p class="prices">Tk 300</p>
														<a href="#" class="btn cart-btn">কার্ডে জমা করুন</a>
														</div>
													</div>
													<figcaption>
														
														<h4 class="h6 card-overflow text-white bsb-hover-fadeInRight ">Buy Now</h4>
													</figcaption>
												</figure>
										</div>
										<div class="col-lg-2 col-md-6 col-sm-12 mt-3 cardContainer">
											<article>
												<figure class="rounded overflow-hidden mb-3 bsb-overlay-hover">
													<div class="card shadow  text-center" >
														<a href="{% url 'Product_details' %}"> <img class="card-img"  src="{% static 'images/book/book-two.jpg' %}"  alt="{% static 'images/book/Book-Cover.jpg' %}" ></a>
														
														<div class="card-body text-center">
														<h5  class="card-title">Bangla-I </h5>
														<p class="card-text Sub-code">বিষয় কোড : 61234</p>
														<p class="writer-name">Touhid hossen</p>
														<p class="regulation">প্রবিধান : 2022</p>
														<p class="prices">Tk 300</p>
														<a href="#" class="btn cart-btn">কার্ডে জমা করুন</a>
														</div>
													</div>
													<figcaption>
														
														<h4 class="h6 card-overflow text-white bsb-hover-fadeInRight ">Buy Now</h4>
													</figcaption>
												</figure>
										</div>
										<!-- /product -->

										<!-- product -->
										<div class="col-lg-2 col-md-6 col-sm-12 mt-3 cardContainer">
											<article>
												<figure class="rounded overflow-hidden mb-3 bsb-overlay-hover">
													<div class="card shadow  text-center" >
														<a href="{% url 'Product_details' %}"> <img class="card-img"  src="{% static 'images/book/book-two.jpg' %}"  alt="{% static 'images/book/Book-Cover.jpg' %}" ></a>
														
														<div class="card-body text-center">
														<h5  class="card-title">Bangla-I </h5>
														<p class="card-text Sub-code">বিষয় কোড : 61234</p>
														<p class="writer-name">Touhid hossen</p>
														<p class="regulation">প্রবিধান : 2022</p>
														<p class="prices">Tk 300</p>
														<a href="#" class="btn cart-btn">কার্ডে জমা করুন</a>
														</div>
													</div>
													<figcaption>
														
														<h4 class="h6 card-overflow text-white bsb-hover-fadeInRight ">Buy Now</h4>
													</figcaption>
												</figure>
										</div>
										<!-- /product -->

										<!-- product -->
										<div class="col-lg-2 col-md-6 col-sm-12 mt-3 cardContainer">
											<article>
												<figure class="rounded overflow-hidden mb-3 bsb-overlay-hover">
													<div class="card shadow  text-center" >
														<a href="{% url 'Product_details' %}"> <img class="card-img"  src="{% static 'images/book/book-two.jpg' %}"  alt="{% static 'images/book/Book-Cover.jpg' %}" ></a>
														
														<div class="card-body text-center">
														<h5  class="card-title">Bangla-I </h5>
														<p class="card-text Sub-code">বিষয় কোড : 61234</p>
														<p class="writer-name">Touhid hossen</p>
														<p class="regulation">প্রবিধান : 2022</p>
														<p class="prices">Tk 300</p>
														<a href="#" class="btn cart-btn">কার্ডে জমা করুন</a>
														</div>
													</div>
													<figcaption>
														
														<h4 class="h6 card-overflow text-white bsb-hover-fadeInRight ">Buy Now</h4>
													</figcaption>
												</figure>
										</div>
										<!-- /product -->

										<!-- product -->
										<div class="col-lg-2 col-md-6 col-sm-12 mt-3 cardContainer">
											<article>
												<figure class="rounded overflow-hidden mb-3 bsb-overlay-hover">
													<div class="card shadow  text-center" >
														<a href="{% url 'Product_details' %}"> <img class="card-img"  src="{% static 'images/book/book-two.jpg' %}"  alt="{% static 'images/book/Book-Cover.jpg' %}" ></a>
														
														<div class="card-body text-center">
														<h5  class="card-title">Bangla-I </h5>
														<p class="card-text Sub-code">বিষয় কোড : 61234</p>
														<p class="writer-name">Touhid hossen</p>
														<p class="regulation">প্রবিধান : 2022</p>
														<p class="prices">Tk 300</p>
														<a href="#" class="btn cart-btn">কার্ডে জমা করুন</a>
														</div>
													</div>
													<figcaption>
														
														<h4 class="h6 card-overflow text-white bsb-hover-fadeInRight ">Buy Now</h4>
													</figcaption>
												</figure>
										</div>
										<!-- /product -->
									</div>
									<div id="slick-nav-2" class="products-slick-nav"></div>
								</div>
								<!-- /tab -->
							</div>
						</div>
					</div>
					<!-- /Products tab & slick -->
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
			<!-- container -->
			<div class="container-fluid">
				<!-- row -->
				<div class="row ">

					<!-- Products tab & slick -->
					<div class="col-md-12">
						<div class="row mt-4 books">
							<div class="products-tabs">
								<!-- tab -->
								<div id="tab2" class="tab-pane fade in active">
									<div class="products-slick" data-nav="#slick-nav-2">
										<!-- product -->
										<div class="col-lg-2 col-md-6  col-sm-12 mt-3 cardContainer">
											<article>
												<figure class="rounded overflow-hidden mb-3 bsb-overlay-hover">
													<div class="card shadow  text-center" >
														<a href="{% url 'Product_details' %}"> <img class="card-img"  src="{% static 'images/book/book-two.jpg' %}"  alt="{% static 'images/book/Book-Cover.jpg' %}" ></a>
														
														<div class="card-body text-center">
														<h5  class="card-title">Bangla-I </h5>
														<p class="card-text Sub-code">বিষয় কোড : 61234</p>
														<p class="writer-name">Touhid hossen</p>
														<p class="regulation">প্রবিধান : 2022</p>
														<p class="prices">Tk 300</p>
														<a href="#" class="btn cart-btn">কার্ডে জমা করুন</a>
														</div>
													</div>
													<figcaption>
														
														<h4 class="h6 card-overflow text-white bsb-hover-fadeInRight ">Buy Now</h4>
													</figcaption>
												</figure>
										</div>
										<!-- /product -->

										<!-- product -->
										<div class="col-lg-2 col-md-6 col-sm-12 mt-3 cardContainer">
											<article>
												<figure class="rounded overflow-hidden mb-3 bsb-overlay-hover">
													<div class="card shadow  text-center" >
														<a href="{% url 'Product_details' %}"> <img class="card-img"  src="{% static 'images/book/book-two.jpg' %}"  alt="{% static 'images/book/Book-Cover.jpg' %}" ></a>
														
														<div class="card-body text-center">
														<h5  class="card-title">Bangla-I </h5>
														<p class="card-text Sub-code">বিষয় কোড : 61234</p>
														<p class="writer-name">Touhid hossen</p>
														<p class="regulation">প্রবিধান : 2022</p>
														<p class="prices">Tk 300</p>
														<a href="#" class="btn cart-btn">কার্ডে জমা করুন</a>
														</div>
													</div>
													<figcaption>
														
														<h4 class="h6 card-overflow text-white bsb-hover-fadeInRight ">Buy Now</h4>
													</figcaption>
												</figure>
										</div>
										<div class="col-lg-2 col-md-6 col-sm-12 mt-3 cardContainer">
											<article>
												<figure class="rounded overflow-hidden mb-3 bsb-overlay-hover">
													<div class="card shadow  text-center" >
														<a href="{% url 'Product_details' %}"> <img class="card-img"  src="{% static 'images/book/book-two.jpg' %}"  alt="{% static 'images/book/Book-Cover.jpg' %}" ></a>
														
														<div class="card-body text-center">
														<h5  class="card-title">Bangla-I </h5>
														<p class="card-text Sub-code">বিষয় কোড : 61234</p>
														<p class="writer-name">Touhid hossen</p>
														<p class="regulation">প্রবিধান : 2022</p>
														<p class="prices">Tk 300</p>
														<a href="#" class="btn cart-btn">কার্ডে জমা করুন</a>
														</div>
													</div>
													<figcaption>
														
														<h4 class="h6 card-overflow text-white bsb-hover-fadeInRight ">Buy Now</h4>
													</figcaption>
												</figure>
										</div>
										<div class="col-lg-2 col-md-6 col-sm-12 mt-3 cardContainer">
											<article>
												<figure class="rounded overflow-hidden mb-3 bsb-overlay-hover">
													<div class="card shadow  text-center" >
														<a href="{% url 'Product_details' %}"> <img class="card-img"  src="{% static 'images/book/book-two.jpg' %}"  alt="{% static 'images/book/Book-Cover.jpg' %}" ></a>
														
														<div class="card-body text-center">
														<h5  class="card-title">Bangla-I </h5>
														<p class="card-text Sub-code">বিষয় কোড : 61234</p>
														<p class="writer-name">Touhid hossen</p>
														<p class="regulation">প্রবিধান : 2022</p>
														<p class="prices">Tk 300</p>
														<a href="#" class="btn cart-btn">কার্ডে জমা করুন</a>
														</div>
													</div>
													<figcaption>
														
														<h4 class="h6 card-overflow text-white bsb-hover-fadeInRight ">Buy Now</h4>
													</figcaption>
												</figure>
										</div>
										<div class="col-lg-2 col-md-6 col-sm-12 mt-3 cardContainer">
											<article>
												<figure class="rounded overflow-hidden mb-3 bsb-overlay-hover">
													<div class="card shadow  text-center" >
														<a href="{% url 'Product_details' %}"> <img class="card-img"  src="{% static 'images/book/book-two.jpg' %}"  alt="{% static 'images/book/Book-Cover.jpg' %}" ></a>
														
														<div class="card-body text-center">
														<h5  class="card-title">Bangla-I </h5>
														<p class="card-text Sub-code">বিষয় কোড : 61234</p>
														<p class="writer-name">Touhid hossen</p>
														<p class="regulation">প্রবিধান : 2022</p>
														<p class="prices">Tk 300</p>
														<a href="#" class="btn cart-btn">কার্ডে জমা করুন</a>
														</div>
													</div>
													<figcaption>
														
														<h4 class="h6 card-overflow text-white bsb-hover-fadeInRight ">Buy Now</h4>
													</figcaption>
												</figure>
										</div>
										<div class="col-lg-2 col-md-6 col-sm-12 mt-3 cardContainer">
											<article>
												<figure class="rounded overflow-hidden mb-3 bsb-overlay-hover">
													<div class="card shadow  text-center" >
														<a href="{% url 'Product_details' %}"> <img class="card-img"  src="{% static 'images/book/book-two.jpg' %}"  alt="{% static 'images/book/Book-Cover.jpg' %}" ></a>
														
														<div class="card-body text-center">
														<h5  class="card-title">Bangla-I </h5>
														<p class="card-text Sub-code">বিষয় কোড : 61234</p>
														<p class="writer-name">Touhid hossen</p>
														<p class="regulation">প্রবিধান : 2022</p>
														<p class="prices">Tk 300</p>
														<a href="#" class="btn cart-btn">কার্ডে জমা করুন</a>
														</div>
													</div>
													<figcaption>
														
														<h4 class="h6 card-overflow text-white bsb-hover-fadeInRight">Buy Now</h4>
													</figcaption>
												</figure>
										</div>
										<div class="col-lg-2 col-md-6 col-sm-12 mt-3 cardContainer">
											<article>
												<figure class="rounded overflow-hidden mb-3 bsb-overlay-hover">
													<div class="card shadow  text-center" >
														<a href="{% url 'Product_details' %}"> <img class="card-img"  src="{% static 'images/book/book-two.jpg' %}"  alt="{% static 'images/book/Book-Cover.jpg' %}" ></a>
														
														<div class="card-body text-center">
														<h5  class="card-title">Bangla-I </h5>
														<p class="card-text Sub-code">বিষয় কোড : 61234</p>
														<p class="writer-name">Touhid hossen</p>
														<p class="regulation">প্রবিধান : 2022</p>
														<p class="prices">Tk 300</p>
														<a href="#" class="btn cart-btn">কার্ডে জমা করুন</a>
														</div>
													</div>
													<figcaption>
														
														<h4 class="h6 card-overflow text-white bsb-hover-fadeInRight ">Buy Now</h4>
													</figcaption>
												</figure>
										</div>
										<!-- /product -->

										<!-- product -->
										<div class="col-lg-2 col-md-6 col-sm-12 mt-3 cardContainer">
											<article>
												<figure class="rounded overflow-hidden mb-3 bsb-overlay-hover">
													<div class="card shadow  text-center" >
														<a href="{% url 'Product_details' %}"> <img class="card-img"  src="{% static 'images/book/book-two.jpg' %}"  alt="{% static 'images/book/Book-Cover.jpg' %}" ></a>
														
														<div class="card-body text-center">
														<h5  class="card-title">Bangla-I </h5>
														<p class="card-text Sub-code">বিষয় কোড : 61234</p>
														<p class="writer-name">Touhid hossen</p>
														<p class="regulation">প্রবিধান : 2022</p>
														<p class="prices">Tk 300</p>
														<a href="#" class="btn cart-btn">কার্ডে জমা করুন</a>
														</div>
													</div>
													<figcaption>
														
														<h4 class="h6 card-overflow text-white bsb-hover-fadeInRight ">Buy Now</h4>
													</figcaption>
												</figure>
										</div>
										<!-- /product -->

										<!-- product -->
										<div class="col-lg-2 col-md-6 col-sm-12 mt-3 cardContainer">
											<article>
												<figure class="rounded overflow-hidden mb-3 bsb-overlay-hover">
													<div class="card shadow  text-center" >
														<a href="{% url 'Product_details' %}"> <img class="card-img"  src="{% static 'images/book/book-two.jpg' %}"  alt="{% static 'images/book/Book-Cover.jpg' %}" ></a>
														
														<div class="card-body text-center">
														<h5  class="card-title">Bangla-I </h5>
														<p class="card-text Sub-code">বিষয় কোড : 61234</p>
														<p class="writer-name">Touhid hossen</p>
														<p class="regulation">প্রবিধান : 2022</p>
														<p class="prices">Tk 300</p>
														<a href="#" class="btn cart-btn">কার্ডে জমা করুন</a>
														</div>
													</div>
													<figcaption>
														
														<h4 class="h6 card-overflow text-white bsb-hover-fadeInRight ">Buy Now</h4>
													</figcaption>
												</figure>
										</div>
										<!-- /product -->

										<!-- product -->
										<div class="col-lg-2 col-md-6 col-sm-12 mt-3 cardContainer">
											<article>
												<figure class="rounded overflow-hidden mb-3 bsb-overlay-hover">
													<div class="card shadow  text-center" >
														<a href="{% url 'Product_details' %}"> <img class="card-img"  src="{% static 'images/book/book-two.jpg' %}"  alt="{% static 'images/book/Book-Cover.jpg' %}" ></a>
														
														<div class="card-body text-center">
														<h5  class="card-title">Bangla-I </h5>
														<p class="card-text Sub-code">বিষয় কোড : 61234</p>
														<p class="writer-name">Touhid hossen</p>
														<p class="regulation">প্রবিধান : 2022</p>
														<p class="prices">Tk 300</p>
														<a href="#" class="btn cart-btn">কার্ডে জমা করুন</a>
														</div>
													</div>
													<figcaption>
														
														<h4 class="h6 card-overflow text-white bsb-hover-fadeInRight ">Buy Now</h4>
													</figcaption>
												</figure>
										</div>
										<!-- /product -->
									</div>
									<div id="slick-nav-2" class="products-slick-nav"></div>
								</div>
								<!-- /tab -->
							</div>
						</div>
					</div>
					<!-- /Products tab & slick -->
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		
		
			
		</div>
		<!-- /SECTION -->
		
	     
		
	
	</div>


<!-- Categories Section -->

<!-- suggestion Section -->
<div class="container-fluid suggestion-book">
	<div class="row">
		<div class="col-lg-12">
			<div class="suggestion-text">
				<h1 class="text-center mt-5">পরামর্শকৃত বই</h1>
			</div>
		</div>


		<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">

					<!-- Products tab & slick -->
					<div class="col-md-12">
						<div class="row">
							<div class="products-tabs">
								<!-- tab -->
								<div id="tab2" class="tab-pane fade in active">
									<div class="products-slick" data-nav="#slick-nav-2">
										<!-- product -->
										<div class="product shadow">
											<div class="product-img">
												<img src="{% static 'images/book/book-fore.jpg' %}" alt=<i class="fa-sharp fa-solid fa-image-slash w-100"></i>
												
											</div>
											
											
										</div>
										<!-- /product -->

										<!-- product -->
										<div class="product shadow">
											<div class="product-img">
												<img src="{% static 'images/book/book-fore.jpg' %}" alt=<i class="fa-sharp fa-solid fa-image-slash w-100"></i>
												
											</div>
											
											
										</div>
										<!-- /product -->

										<!-- product -->
										<div class="product shadow">
											<div class="product-img">
												<img src="{% static 'images/book/book-fore.jpg' %}" alt=<i class="fa-sharp fa-solid fa-image-slash w-100"></i>
											</div>
											
											
										</div>
										<!-- /product -->

										<!-- product -->
										<div class="product shadow">
											<div class="product-img">
												<img src="{% static 'images/book/book-fore.jpg' %}" alt=<i class="fa-sharp fa-solid fa-image-slash w-100"></i>
											</div>
											
										</div>
										<!-- /product -->

										<!-- product -->
										<div class="product shadow">
											<div class="product-img">
												<img src="{% static 'images/book/book-fore.jpg' %}" alt=<i class="fa-sharp fa-solid fa-image-slash w-100"></i>
											</div>
											

										</div>
										<!-- /product -->
									</div>
									<div id="slick-nav-2" class="products-slick-nav"></div>
								</div>
								<!-- /tab -->
							</div>
						</div>
					</div>
					<!-- /Products tab & slick -->
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->




	</div>
</div>

<!-- suggestion Section -->
<!-- review Section  -->

<div class="container-fluid review-book">
	<div class="row">
		<div class="col-lg-12 col-md-12 col-sm-12">
			<div class="review-text">
				<h1 class="text-center mt-5">মন্তব্য</h1>
			</div>
		</div>
		<div class="col-lg-12 col-md-12 col-sm-12">
			
					<!-- SECTION -->
					<div class="section">
						<!-- container -->
						<div class="container">
							<!-- row -->
							<div class="row">
			
								<!-- Products tab & slick -->
								<div class="col-md-12">
									<div class="row">
										<div class="products-tabs">
											<!-- tab -->
											<div id="tab2" class="tab-pane fade in active">
												<div class="products-slick" data-nav="#slick-nav-2">
													<!-- product -->
													<div class="product shadow bg-white">
														<div class="product-img w-75 mx-4 p-2 ">
															<img src="{% static 'images/student.png' %}" alt=<i class="fa-sharp fa-solid fa-image-slash w-100 rounded-circle"></i>
															
														</div>
														<div class="card-body bg-white">
															<h5 class="card-title">Card title</h5>
															<p class="card-text">Some quick example text to build on the card .</p>
														   <div class="review-star">
																<i class="fa-solid fa-star"></i>
																<i class="fa-solid fa-star"></i>
																<i class="fa-solid fa-star"></i>
																<i class="fa-solid fa-star"></i>
														   </div>
														</div>
														
													</div>
													<!-- /product -->
			
													<!-- product -->
													<div class="product shadow bg-white">
														<div class="product-img w-75 mx-4 p-2">
															<img src="{% static 'images/student.png' %}" alt=<i class="fa-sharp fa-solid fa-image-slash w-100 rounded-circle"></i>
															
														</div>
														<div class="card-body bg-white">
															<h5 class="card-title">Card title</h5>
															<p class="card-text">Some quick example text to build on the card .</p>
														   <div class="review-star">
																<i class="fa-solid fa-star"></i>
																<i class="fa-solid fa-star"></i>
																<i class="fa-solid fa-star"></i>
																<i class="fa-solid fa-star"></i>
														   </div>
														</div>
														
													</div>
													<!-- /product -->
			
													<!-- product -->
													<div class="product shadow bg-white">
														<div class="product-img w-75 mx-4 p-2">
															<img src="{% static 'images/student.png' %}" alt=<i class="fa-sharp fa-solid fa-image-slash w-100 rounded-circle"></i>
														</div>
														<div class="card-body bg-white">
															<h5 class="card-title">Card title</h5>
															<p class="card-text">Some quick example text to build on the card .</p>
														   <div class="review-star">
																<i class="fa-solid fa-star"></i>
																<i class="fa-solid fa-star"></i>
																<i class="fa-solid fa-star"></i>
																<i class="fa-solid fa-star"></i>
														   </div>
														</div>
														
													</div>
													<!-- /product -->
			
													<!-- product -->
													<div class="product shadow bg-white">
														<div class="product-img w-75 mx-4 p-2">
															<img src="{% static 'images/student.png' %}" alt=<i class="fa-sharp fa-solid fa-image-slash w-100 rounded-circle"></i>
														</div>
														<div class="card-body bg-white">
															<h5 class="card-title">Card title</h5>
															<p class="card-text">Some quick example text to build on the card .</p>
														   <div class="review-star">
																<i class="fa-solid fa-star"></i>
																<i class="fa-solid fa-star"></i>
																<i class="fa-solid fa-star"></i>
																<i class="fa-solid fa-star"></i>
														   </div>
														</div>
													</div>
													<!-- /product -->
			
													<!-- product -->
													<div class="product shadow bg-white">
														<div class="product-img w-75 mx-4 p-2">
															<img src="{% static 'images/student.png' %}" alt=<i class="fa-sharp fa-solid fa-image-slash w-100 rounded-circle"></i>
														</div>
														<div class="card-body bg-white">
															<h5 class="card-title">Card title</h5>
															<p class="card-text">Some quick example text to build on the card .</p>
														   <div class="review-star">
																<i class="fa-solid fa-star"></i>
																<i class="fa-solid fa-star"></i>
																<i class="fa-solid fa-star"></i>
																<i class="fa-solid fa-star"></i>
														   </div>
														</div>
			
													</div>
													<!-- /product -->
												</div>
												<div id="slick-nav-2" class="products-slick-nav"></div>
											</div>
											<!-- /tab -->
										</div>
									</div>
								</div>
								<!-- /Products tab & slick -->
							</div>
							<!-- /row -->
						</div>
						<!-- /container -->
					</div>
					<!-- /SECTION -->
			
			
			
			
				</div>
			</div>
		</div>
	</div>
</div>

<!-- review Section  -->





{% endblock main-contact %}