{% extends "shop/base.html" %}
{% load static %}

{% block cmt %}
  


<div class="container-fluid all-books mt-4">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="header">
                <h2 class="text-center my-5">আমাদের বই সমূহ</h2>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 col-md-6 col-sm-12">
           <div class="list d-flex justify-content-center gap-2">
              
                <div class="department">
                    <div class="dropdown">
                        <button class="btn cart-btn dropdown" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            ডিপার্টমেন্ট
                        </button>
                        <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'Cmt_all' %}">কম্পিউটার</a></li>
                        <li><a class="dropdown-item" href="#">ইলেকট্রিক্যাল<a></li>
                        <li><a class="dropdown-item" href="#">সিভিল</a></li>
                        <li><a class="dropdown-item" href="#">মেকানিকাল</a></li>
                        <li><a class="dropdown-item" href="#">ইলেকট্রনিক্স</a></li>
                        <li><a class="dropdown-item" href="#">সিভিল</a></li>
                        <li><a class="dropdown-item" href="#">সিভিল</a></li>
                        <li><a class="dropdown-item" href="#">সিভিল</a></li>
                        <li><a class="dropdown-item" href="#">সিভিল</a></li>
                        </ul>
                    </div>
                </div>
                <div class="semester">
                    <div class="dropdown">
                        <button class="btn cart-btn dropdown" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            সেমিস্টার
                        </button>
                        <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'Cmt_First_semeter' %}">১ম পর্ব</a></li>

                        <li><a class="dropdown-item" href="{% url 'Cmt_Second_semeter' %}">২য় পর্ব</a></li>

                        <li><a class="dropdown-item" href="{% url 'Cmt_Third_semeter' %}">৩য় পর্ব</a></li>

                        <li><a class="dropdown-item" href="{% url 'Cmt_Fourth_semeter' %}">৪র্থ পর্ব</a></li>

                        <li><a class="dropdown-item" href="{% url 'Cmt_Fifth_semeter' %}">৫ম পর্ব</a></li>

                        <li><a class="dropdown-item" href="{% url 'Cmt_Sixth_semeter' %}">৬ষ্ঠ পর্ব</a></li>

                        <li><a class="dropdown-item" href="{% url 'Cmt_Seventh_semeter' %}">৭ম পর্ব</a></li>
                        
                        </ul>
                    </div>
                </div>
            
                <div class="probidhan">
                    <div class="dropdown">
                        <button class="btn cart-btn dropdown" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            প্রবিধান
                        </button>
                        <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'Cmt_First_semeter' %}">2016</a></li>

                        <li><a class="dropdown-item" href="{% url 'Cmt_Second_semeter' %}">2022</a></li>

                        
                        
                        </ul>
                    
                     </div>
                </div>
            </div>
        </div>
    </div>
     


    <!-- all cart -->
    <div class="row mt-4">
        <div class="col-lg-3 col-md-4 col-sm-12 mt-3">
            <div class="card shadow-lg m-auto" style="width: 17rem;">
                <img src="{% static 'images/book/book-one.jpg' %}" class="card-img-top " alt=<i class="fa-sharp fa-solid fa-image-slash"></i>
                <div class="card-body">
                  <h5 class="card-title">book name </h5>
                  <p class="card-text Sub-code">বিষয় কোড : 61234</p>
                  <p class="writer-name">Touhid hossen</p>
                  <p class="regulation">প্রবিধান : 2022</p>
                  <a href="#" class="btn btn-primary">কার্ডে জমা করুন</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-12 mt-3">
            <div class="card shadow-lg m-auto" style="width: 17rem;">
                <img src="{% static 'images/book/book-two.jpg' %}" class="card-img-top " alt=<i class="fa-sharp fa-solid fa-image-slash"></i>
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-12 mt-3">
            <div class="card shadow-lg m-auto" style="width: 17rem;">
                <img src="{% static 'images/book/book-three.jpg' %}" class="card-img-top" alt=<i class="fa-sharp fa-solid fa-image-slash"></i>
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-12 mt-3">
            <div class="card shadow-lg m-auto" style="width: 17rem;">
                <img src="{% static 'images/book/book-fore.jpg' %}" class="card-img-top " alt=<i class="fa-sharp fa-solid fa-image-slash"></i>
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-lg-3 col-md-4 col-sm-12 mt-3">
            <div class="card shadow-lg m-auto" style="width: 17rem;">
                <img src="{% static 'images/book/book-one.jpg' %}" class="card-img-top " alt=<i class="fa-sharp fa-solid fa-image-slash"></i>
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-12 mt-3">
            <div class="card shadow-lg m-auto" style="width: 17rem;">
                <img src="{% static 'images/book/book-two.jpg' %}" class="card-img-top " alt=<i class="fa-sharp fa-solid fa-image-slash"></i>
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-12 mt-3">
            <div class="card shadow-lg m-auto" style="width: 17rem;">
                <img src="{% static 'images/book/book-three.jpg' %}" class="card-img-top" alt=<i class="fa-sharp fa-solid fa-image-slash"></i>
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-12 mt-3">
            <div class="card shadow-lg m-auto" style="width: 17rem;">
                <img src="{% static 'images/book/book-fore.jpg' %}" class="card-img-top " alt=<i class="fa-sharp fa-solid fa-image-slash"></i>
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock cmt %}